<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<a th:href="@{/user/{userId}(userId=${user.id})}">&larr; To user</a>
<h1>Edit User &laquo;[[${user.name}]]&raquo;</h1>
<form method="post" th:action="@{/user/{userId}/edit(userId=${user.id})}">
    <label>
        Name:<br>
        <input type="text" name="name" th:value="${payload != null ? payload.name : user.name}">
    </label><br>
    <label>
        Email:<br>
        <input type="text" name="email" th:value="${payload != null ? payload.email : user.email}">
    </label><br>
    <label>
        Date of birth:<br>
        <input type="text" name="dateOfBirth" th:value="${payload != null ? payload.dateOfBirth : user.dateOfBirth}">
    </label><br>
    <div th:if="${errors}">
        <ul>
            <li th:each="error: ${errors}" th:text="${error}"></li>
        </ul>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>