<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add phone number</title>
</head>
<body>
<h1>Add phone number</h1>
<form method="post" th:action="@{/user/{userId}/phone/create(userId=${user.id})}">
    <label>
        Phone number:<br>
        <input type="text" name="phoneNumber" th:value="${payload?.phoneNumber}">
    </label><br>
    <input type="hidden" name="user" th:value="${user.id}">
    <button type="submit">Create</button>
</form>
</body>
</html>